html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#map {
    height: 100%;
}

a {
    cursor: pointer;
}

.navbar-header p {
    color: #777;
    position: fixed;
    z-index: 1;
    margin: 23px 0 0 125px;
}

@media (min-width: 768px) {
    .navbar-header p {
        margin: 23px 0 0 110px;
    }
}

.navbar-brand {
    font-size: 35px;
    padding: 6px 15px;
}

.navbar .nav li.active a,
.navbar .nav .dropdown a.active {
    background-color: #428bca;
    color: #f8f8f8;
}

.navbar .nav .dropdown li a {
    display: inline;
    color: #777;
}

.navbar .nav .dropdown li a:hover {
    color: #000000;
}

.navbar .nav .dropdown li.active a {
    color: #f8f8f8;
}

.navbar .nav .dropdown li.active a:hover {
    color: #000000;
}

.navbar .nav li a:hover {
    background-color: #eee;

}

.dropdown-menu {
    max-height: 400px;
    overflow: hidden;
    overflow-y: auto;
}

.input-group {
    display: inline-block;
    width: 100%;
}

.input-group-btn {
    display: block;
    width: 50px;
}

@media (min-width: 768px) {
    .input-group {
        width: 250%;
    }
}

#search-bar {
    display: inline-block;
    padding: 8px 0 8px 0;
    margin-left: 5px;
    width: 60%;
}

#query-type {
    padding: 8px 0 8px 0;
}

#reset-button {
    display: inline-block;
    padding: 7px 0 8px 0;
    width: 50px;
}

#show-error{
    display: none;
    width: 60%;
}

#response-list {
    height: 100%;
    padding-top: 20px;
    margin-bottom: 0;
    overflow: hidden;
    overflow-y:scroll;
}

#map, .row, .col-md-10, .col-md-2 {
  margin: 0;
  padding: 0;
  height: 100%;
}

.row {
    padding-top: 55px;
}

.col-md-2 nav {
    height: 100%;
}

footer {
    padding-top: 20px;  
    padding-bottom: 20px; 
    text-align: center;
    color: gray;
}
footer .list-inline {
  margin: 0;
  padding: 0;
}
footer .copyright {
  font-size: 14px;
  text-align: center;
  margin-bottom: 0;
}

footer a{
    display: inline-block;
}

footer a:hover{
    display: inline-block;
    text-decoration: none;
}
